/* styles.css */

body {
    background-color: wheat;
}

#main-title {
    font-family: 'Courier New', Courier, monospace;
}

.recipe-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}